*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(background-cp2.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Inter';
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding-inline: 50px;
}
.logo-name{
    color: #89CCE1;
    font-size: 30px;
    outline: black;
    text-align: right;
    font-family: 'baguile';
    margin-top: 30px;
}
.nav ul{
    list-style: none;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav a{
    text-decoration: none;
    font-weight: 500;
    color: black;
}
.login{
    height: 35px;
    width: 100px;
}
.login button{
    background-color: #256DD7;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 700;
    cursor: pointer;
}
.home-container{
    position: relative;
    width: 100%;
    height: 600px;
}
.fly-quote{
    font-size: 60px;
    color: black;
    position: absolute;
    left: 3%;
    top: 10%;
    font-family: 'baguile';
}
.quote{
    position: absolute;
    right: 8%;
    top: 30%;
    font-size: 25px;
    font-family: 'Inter';
    font-weight: 600;
    letter-spacing: -2px;
}
.buttons{
    position: absolute;
    width: 300px;
    display: flex;
    top: 55%;
    left: 10%;

}
.explore,.book{
    height: 40px;
    width: 150px;
    margin-inline: 5px;
}
.explore button{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.255),rgba(255, 255, 255, 0.251));
    backdrop-filter: blur(15px);
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: none;
    color: black;
    font-weight: 700;
    font-size: medium;
    cursor: pointer;
}
.book button{
    background-color: #256DD7;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 700;
    font-size: medium;
    cursor: pointer;
}
.book-section{
    position: absolute;
    width: 90%;
    bottom: 5%;
    left: 4%;
    display: flex;
    align-items: center;
}
.dropdown button{
    background: linear-gradient(60deg, rgba(255, 255, 255, 0.255),rgba(255, 255, 255, 0.251));
    border: none;
    cursor: pointer;
    border-radius: 10px;
    width: 200px;
    height: 70px;
    vertical-align: text-top;
    margin-inline: 5px;
    position: relative;
    font-weight: 600;
}
.dropdown #from,#to{
    background: transparent;
    outline: none;
    border: none;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    transition: width 1.5s;
}
#from option,#to option{
    width: 100%;
    height: 100%;
}
.dropdown button input{
    border: none;
    text-decoration: none;
    background-color: transparent;
    width: 100%;
}
.date button{
    background: #256DD7;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    width: 200px;
    height: 70px;
    vertical-align: text-top;
    margin-inline: 5px;
    position: relative;
    top: 0%;
    left: auto;
    color: white;
    font-weight: 600;
}
.date input{
    border: none;
    background-color: transparent;
}
.search-flight{
    position: absolute;
    right: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 30px;
}
.search-flight .radio{
    margin-top: -7%;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 15px;
}
.radio input{
    vertical-align: -14%;
}
.search-button{
    width: 200px;
    height: 40px;
}
.search-button button{
    background-color: #256DD7;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 700;
    font-size: medium;
    cursor: pointer;
}
.name{
    position:absolute;
    right: 0%;
}